.overlay {
  position: fixed;
  width: 100%;
  height: calc(100vh - 62px);
  top: 0;
  right: 0;
  z-index: 998;
  margin-top: 62px;
  opacity: 0.3;
}

.productMenuContainer {
  position: fixed;
  height: calc(100vh - 62px);
  width: 250px;
  margin-top: 62px;
  z-index: 999;
  top: 3px;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border-left: 1px solid lightgray;
  padding: 1em 2em;
  box-sizing: border-box;
  align-items: flex-end;
}

.productAppsContainer {
  border: 1px solid lightgray;
  padding: 1em 0;
  width: 100%;
  margin-top: 1em;
}

.productAppsContainer h6 {
  padding-bottom: 1em;
  padding-left: 1em;
  border-bottom: 1px solid lightgray;
}

.appTileContainer {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-flow: row wrap;
  padding: 0 1em 1em 1em;
}

.productTile {
  width: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 1em;
  margin: 0 0.25em;
}

.productTile p {
  font-size: 0.5em;
}
