.headerContainer {
}

.headerContentContainer {
  min-width: 150px;
  width: 90%;
  max-width: 1250px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.25em 0;
}

.leftHeaderContainer {
  display: flex;
  align-items: center;
}

.searchBarContainer {
  display: flex;
  align-items: center;
  padding: 0.25em;
  border-radius: 5px;
  margin-left: 0.5em;
}

.searchBarContainer input {
  border: none;
  background-color: transparent;
  outline: none;
}

.logoImage {
  width: 25px;
  height: 25px;
  object-fit: cover;
}

.rightHeaderContainer,
.iconHeaderContainer,
.subContentContainer {
  display: flex;
  align-items: center;
}

.iconHeaderContainer {
  border-right: 1px solid lightgray;
}

.searchImg {
  font-size: 1em !important;
  cursor: text;
}

.freeLink {
  color: goldenrod;
  font-size: 0.65em;
  word-wrap: break-word;
  width: 90px;
  text-align: center;
}
